:root {
  --x-padding: 10%;
}
* {
  height: 100%;
}
html, body {
  background-color: lightgrey;
}

.App {
  margin: 0 var(--x-padding);
  display: flex;
  background-color: white;
  flex-direction: column;
}

.imagebox {
  height: 50%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit:none;
  position: absolute;
}

#panda {
  transition: all 1.5s ease-in-out;
}

#tiny-blur {
  transition: all 1s ease-in-out;
}

#veil {
  transition: all .5s ease-in-out;
}

#skateboard {
  transition: all 2s ease-in-out;
}
